@font-face{
  font-family: myfont1;
  src: url(Assets/Myfonts/Aladin/Aladin-Regular.ttf);
}
@font-face{
  font-family: myfont2;
  src: url(Assets/Myfonts/darling_coffee/Darling\ Coffee.ttf);
}




body{
  margin: 0px;
  padding: -5px;
  box-sizing: border-box;
}



#bg-video {
 
  position: fixed;
  right: 0px;
  bottom: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  
}

header h5{
  color: rgb(26, 25, 25);
  font-size: 42px;
  position: absolute;
  right: 50px;
  top: 0px;
  margin-top: 15px;
  overflow: hidden;
  font-weight: 700;
  font-family: myfont2;
  font-style: italic;
  text-shadow: 3px 3px 7px white;

  
}
.container {
  position: absolute;
  margin: 20px;
  width: auto;

}
.top-nav{
  overflow: hidden;
  display: flex;
  border-radius: 15px;
  margin-left: 15px;
  box-shadow: 0px 0px 2px 2px gray;
  width: 46%;
  

  

}
.top-nav a{
  
  float: right;
  background-color: rgba(128, 128, 128, 0.534);
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
  width: 150px;
  color: black;
  font-family: myfont1;
  

}
.top-nav a:hover{
  background-color: rgb(6, 42, 95);
  font-size: 19px;
  color: white;
  
  
}
.container {
  display: flex;
}

.sidebar {
  width: 130px;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.534);
  color: #fff;
  box-sizing: border-box;
  position: fixed;
  visibility: hidden;
}

.content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 200px;
  text-align: justify;
}

.sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}


.sidebar a:hover {
  background-color: #2980b9;
}

.personal-info{
  width: 80%;
  height: 65%;
  color: black;
  text-align: center;
  font-size: 34px;
  position: absolute;
  top: 200px;
  left: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-family: myfont1;
  word-spacing: 15px;
  border: 1px solid gray;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px white;
  background-image: url(Assets/media/herosection-bg.jpg);
  user-select: none;
  animation: fade-in 0.8s;
  
}

.btn{
    
  display: inline-block;
  border: 1px solid rgb(0, 110, 255);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 450px;
  height: 70px;
  transition: all 0.5s ease-in;
  box-shadow: 0px 0px 2px 2px rgb(0, 37, 51);
  display: flex;
  flex-wrap: wrap;
  animation: fade-in 0.8s;
  word-spacing: 10px;
  
}

.btn::before,
.btn::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
  
}
.btn::before {
  left: -10px;
  background-color: rgb(42, 83, 121);
}
.btn::after {
  right: -10px;
  background-color: rgb(0, 45, 71);
}
.btn:hover::before,
.btn:hover::after {
  width: 53%;
  
}
.btn:hover span{
  color:rgb(142, 179, 194);
  text-shadow: 2px 2px 12px rgb(209, 208, 208);
  transition: 0.3s;
}
.btn span{
  color: rgb(0, 20, 39);
  font-size: 26px;
  transition: all 0.3s ease-in;
}

@keyframes fade-in {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
  


}




@media screen and (min-width:320px) and (max-width: 576px){
  .container img{
    visibility: hidden;
  }
  .top-nav{
    visibility: hidden;
  }
  .personal-info{
    width: auto;
    min-height: fit-content;
    margin-right:40px;

  }
  .sidebar{
    margin-top: 190px;
    visibility: visible;
  }

   
}
@media screen and (min-width:577px) and (max-width: 992px){
  .container img{
    visibility: hidden;
  }
  .top-nav{
    visibility: hidden;
  }
  .personal-info{
    width: auto;
    min-height: fit-content;
    margin-right:40px;

  }
  .sidebar{
    
    visibility: visible;
  }

}




